body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5E1C8;
    flex-direction:column;
}
h1{
    color: #A67C52
}
#clock{
    font-size:10vh;
    color:#a6611b
}
#start,#restart{
    background-color: #b8580a;
    border-color: #b58863;
    color: white; 
}
